name: Publish Artifacts

on:
  push:
    tags:
      - '**'
  workflow_dispatch:
    inputs:
      scala_version:
        description: 'Single Scala version to just publish the scalac-plugin for SCALA_VERSION'
        type: string
        default: ''

jobs:
  publish-sonatype:
    if: github.repository == 'com-lihaoyi/mill-moduledefs'
    runs-on: ubuntu-latest
    env:
      MILL_SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      MILL_SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      MILL_PGP_SECRET_BASE64: ${{ secrets.SONATYPE_PGP_PRIVATE_KEY }}
      MILL_PGP_PASSPHRASE: ${{ secrets.SONATYPE_PGP_PRIVATE_KEY_PASSWORD }}
      LANG: "en_US.UTF-8"
      LC_MESSAGES: "en_US.UTF-8"
      LC_ALL: "en_US.UTF-8"
      SCALA_VERSION: ${{ inputs.scala_version }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11

      - name: Pre-publish testing
        run: ./mill --no-server "__.publishM2Local" --m2RepoPath test-repo

      - name: Publish all to Maven Central
        if: inputs.scala_version == ''
        run: ./mill -i mill.scalalib.SonatypeCentralPublishModule/

      - name: Publish plugin for selected Scala version to Maven Central
        if: inputs.scala_version != ''
        run: ./mill -i mill.scalalib.SonatypeCentralPublishModule/ --publishArtifacts "plugin[${{ inputs.scala_version }}].publishArtifacts"

      - name: Create GitHub Release
        id: create_gh_release
        uses: actions/create-release@v1.1.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false